body {
    font-family: "Jaini";
    background-color: #FFF9F1;
    width: 100vw;
    height: 100vh;
}

#sandwich-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    margin-top: 0.3rem;
}

#sandwich-icon:hover .bar {
    background-color: #555;
}

#sandwich-menu {
    display: none;
    position: absolute;
    top: 50px;
    width: 5rem;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px;
    margin: 5px 0;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #ddd;
}

#title {
    font-size: 70pt;
    font-family: "Jaini";
    display: flex;
    margin-left: 12vw;
    margin-top: 2vh;
    color: black;
    z-index: 2;
}

#header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-item {
    display: flex;
}

#container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: -5rem;
    
    min-height: 100px;
    width: 75vw;
    height: 80vh;

    background: rgb(217, 217, 217, 0.8);
    border-radius: 5px;
    overflow-y: auto;
}

ion-icon{
    font-size: 32px;
    cursor: pointer;
    color: gray;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    align-self: right;
}

.edit-button:hover {
    color: blue;
}

.delete-button:hover {
    color: red;
}

.delete-button {
    top: 2.5rem;
}

.post {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    width: 67vw;
    height: 20vh;

    background: #c9c8c8;
    outline: 2px solid #DC2F02;
    border-radius: 10px;
}

.subject-title {
    display: inline-block;
    font-family:"Cantora One";
    font-size: 20pt;
    color: #D00000;
    margin-left: 2rem;
    align-self: center;
}

.post-text {
    font-family:"Cantora One";
    height: 2rem;
    width: 18rem;
    min-width: 0;
    max-width: 20rem;
    border-radius: 5px;
    border: none;
    margin-left: 0.5rem;
    margin-top: 2rem;
    align-self: center;
}

.post-input {
    font-family:"Cantora One";
    height: 2rem;
    width: 18rem;
    min-width: 0;
    max-width: 20rem;
    border-radius: 5px;
    border: none;
    margin-left: 0.5rem;
    align-self: center;
}

input::placeholder {
    color: #999;
    font-style: italic;
}

.button-area {
    margin-left: auto;
}

.confirm-button {
    display: none;
    font-family:"Cantora One";
    background-color:#D00000;
    color: #D9D9D9;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    width: 5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.confirm-button:hover {
    background-color:#e85d04;
}

.cancel-button {
    display: none;
    font-family:"Cantora One";
    background-color:#c3bfbff1;
    color: #605f5f;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    width: 5rem;
    position: absolute;
    right: 7rem;
    bottom: 1rem;
}

.cancel-button:hover {
    background-color:#424242;
    color: #c3bfbff1;
}